<!-- app/views/houdini_templates/post.html.erb -->

<h2>Review the image for offensiveness</h2>

<h3>Instructions</h3>
<p>Please review the image below.</p>

<img src="<%= image.url %>"><br/>

<input type="radio" name="flagged" value="yes" class="required">
  Yes, this picture is offensive
</input>

<input type="radio" name="flagged" value="no" class="required">
  No, this picture is okay
</input>