!!!
%html
  %head
    %title Houdini Sinatra Example
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}
  %body
    .container
      .prepend-5.span-14.append-5.last
        %h1 Images
        %table
          %tr
            %th Image
            %th Offensive?
          - @images.each_with_index do |gamut, row|
            %tr{:class => (row % 2) == 0 ? 'even' : ''}
              %td
                %img{:src => image.image_url, :class => 'preview'}
              %td= image.flagged