!!! Strict
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title Houdini Sinatra Example
      %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}
      /[if lt IE 8] <link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection">
  %body
    .container.showgrid
      %h1 Houdini Sinatra Example
      %hr
      .prepend-5.span-14.append-5.last
        = yield