<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
      <title>Cat or Not</title>
      <%= stylesheet_link_tag "stylesheets/style.css", "stylesheets/application.css" %>
    </meta>
  </head>
  <body>

    <div class='container showgrid'>
      <h1>Cat or <span>Not</span></h1>
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <div class='prepend-5 span-14 append-5 last'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
