%form{:action => "/images", :method => "post"}
  %fieldset
    %legend New Image
    %p
      %label{:for => "image[image_url]"} Image URL
      %br
        %input.title{:name => "image[image_url]", :type => "text"}/
    %p
      %input{:type => "submit", :value => "Submit"}