<form action='/images' method='post'>
  <fieldset>
    <legend>New Image</legend>
    <p>

      <label for='image[image_url]'>Image URL</label>
      <br>
        <input class='title' name='image[image_url]' type='text' />
      </br>
    </p>
    <p>
      <input type='submit' value='Submit' />
    </p>

  </fieldset>
</form>